<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mainiconnew_round"
        android:label="뚜벅서울"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".AppPopup"></activity>
        <activity android:name=".DevPopup" />
        <activity android:name=".Jongro_hyehwa.Jongro_hyehwacourse5_popupWindow" />
        <activity android:name=".Jongro_hyehwa.Jongro_hyehwaCourse5" />
        <activity android:name=".Jongro_hyehwa.Jongro_hyehwacourse4_popupWindow" />
        <activity android:name=".Jongro_hyehwa.Jongro_hyehwacourse3_popupWindow" />
        <activity android:name=".Jongro_hyehwa.Jongro_hyehwacourse2_popupWindow" />
        <activity android:name=".Jongro_hyehwa.Jongro_hyehwacourse1_popupWindow" />
        <activity android:name=".KangsuYangchun.Kangsuyangchuncourse5_popupWindow" />
        <activity android:name=".KangsuYangchun.KangsuYangchunCourse5" />
        <activity android:name=".KangsuYangchun.Kangsuyangchuncourse4_popupWindow" />
        <activity android:name=".KangsuYangchun.Kangsuyangchuncourse3_popupWindow" />
        <activity android:name=".KangsuYangchun.Kangsuyangchuncourse2_popupWindow" />
        <activity android:name=".KangsuYangchun.Kangsuyangchuncourse1_popupWindow" />
        <activity android:name=".Mapogu.Mapogucourse4_popupWindow" />
        <activity android:name=".Mapogu.Mapogucourse3_popupWindow" />
        <activity android:name=".Mapogu.Mapogucourse2_popupWindow" />
        <activity android:name=".Mapogu.Mapogucourse1_popupWindow" />
        <activity android:name=".Jongro_insadong.Jongro_insadongcourse5_popupWindow" />
        <activity android:name=".Jongro_insadong.Jongro_insadongcourse4_popupWindow" />
        <activity android:name=".Jongro_insadong.Jongro_insadongcourse3_popupWindow" />
        <activity android:name=".Jongro_insadong.Jongro_insadongcourse2_popupWindow" />
        <activity android:name=".Jongro_insadong.Jongro_insadongcourse1_popupWindow" />
        <activity android:name=".EnpyungSudaemun.Eunpyungsudaemuncourse4_popupWindow" />
        <activity android:name=".EnpyungSudaemun.Eunpyungsudaemuncourse3_popupWindow" />
        <activity android:name=".EnpyungSudaemun.Eunpyungsudaemuncourse2_popupWindow" />
        <activity android:name=".EnpyungSudaemun.Eunpyungsudaemuncourse1_popupWindow" />
        <activity android:name=".DongdaemunSeongdong.Dongdaemunseongdongcourse4_popupWindow" />
        <activity android:name=".DongdaemunSeongdong.Dongdaemunseongdongcourse3_popupWindow" />
        <activity android:name=".DongdaemunSeongdong.Dongdaemunseongdongcourse2_popupWindow" />
        <activity android:name=".DongdaemunSeongdong.Dongdaemunseongdongcourse1_popupWindow" />
        <activity android:name=".KwangjinJungnang.Kwangjinjungnangcourse4_popopWindow" />
        <activity android:name=".KwangjinJungnang.Kwangjinjungnangcourse3_popopWindow" />
        <activity android:name=".KwangjinJungnang.Kwangjinjungnangcourse2_popopWindow" />
        <activity android:name=".KwangjinJungnang.Kwangjinjungnangcourse1_popopWindow" />
        <activity android:name=".Junggu.Junggucourse4_popupWindow" />
        <activity android:name=".Junggu.Junggucourse3_popupWindow" />
        <activity android:name=".Junggu.Junggucourse2_popupWindow" />
        <activity android:name=".Junggu.Junggucourse1_popupWindow" />
        <activity android:name=".GangbukSeongBuk_NowonDobong.Gangbukseongbuk_Nowondobongcourse4_popupWindow" />
        <activity android:name=".GangbukSeongBuk_NowonDobong.Gangbukseongbuk_Nowondobongcourse3_popupWindow" />
        <activity android:name=".GangbukSeongBuk_NowonDobong.Gangbukseongbuk_Nowondobongcourse2_popupWindow" />
        <activity android:name=".GangbukSeongBuk_NowonDobong.Gangbukseongbuk_Nowondobongcourse1_popupWindow" />
        <activity android:name=".Songpa.Songpacourse5_popupWindow" />
        <activity android:name=".Songpa.Songpacourse4_popupWindow" />
        <activity android:name=".Songpa.Songpacourse3_popupWindow" />
        <activity android:name=".Songpa.Songpacourse2_popupWindow" />
        <activity android:name=".Songpa.Songpacourse1_popupWindow" />
        <activity android:name=".Gangnam.Gangnamcourse3_popupWindow" />
        <activity android:name=".Gangnam.Gangnamcourse2_popupWindow" />
        <activity android:name=".Gangnam.Gangnamcourse1_popupWindow" />
        <activity android:name=".DongjakGwanak.Dongjakgwanakcourse4_popupWindow" />
        <activity android:name=".DongjakGwanak.Dongjakgwanakcourse3_popupWindow" />
        <activity android:name=".DongjakGwanak.Dongjakgwanakcourse2_popupWindow" />
        <activity android:name=".DongjakGwanak.Dongjakgwanakcourse1_popupWindow" />
        <activity android:name=".Yeongdeungpo.Yeongdeungpocourse4_popopWindow" />
        <activity android:name=".Yeongdeungpo.Yeongdeungpocourse3_popopWindow" />
        <activity android:name=".Yeongdeungpo.Yeongdeungpocourse2_popopWindow" />
        <activity android:name=".Yeongdeungpo.Yeongdeungpocourse1_popopWindow" />
        <activity android:name=".GuroGeumcheon.Gurogeumcheoncourse3_popupWindow" />
        <activity android:name=".GuroGeumcheon.Gurogeumcheoncourse2_popupWindow" />
        <activity android:name=".GuroGeumcheon.Gurogeumcheoncourse1_popupWindow" />
        <activity android:name=".Yongsan.Yongsancourse4_popupWindow" />
        <activity android:name=".Yongsan.Yongsancourse3_popupWindow" />
        <activity android:name=".Yongsan.Yongsancourse2_popupWindow" />
        <activity android:name=".MakeMyCourse" />
        <activity android:name=".Weather" />
        <activity android:name=".GangbukSeongBuk_NowonDobong.GangbukSeongbuk_NowonDobongCourse1" />
        <activity android:name=".ExplainApp" />
        <activity android:name=".Mapogu.MapoguCourse4" />
        <activity android:name=".Mapogu.MapoguCourse3" />
        <activity android:name=".Mapogu.MapoguCourse2" />
        <activity android:name=".Mapogu.MapoguCourse1" />
        <activity android:name=".Mapogu.MapoguCourseList" />
        <activity android:name=".KangsuYangchun.KangsuYangchunCourse4" />
        <activity android:name=".KangsuYangchun.KangsuYangchunCourse3" />
        <activity android:name=".KangsuYangchun.KangsuYangchunCourse2" />
        <activity android:name=".KangsuYangchun.KangsuYangchunCourse1" />
        <activity android:name=".KangsuYangchun.KangsuYangchunCourseList" />
        <activity android:name=".Jongro_hyehwa.Jongro_hyehwaCourse3" />
        <activity android:name=".Jongro_hyehwa.Jongro_hyehwaCourse2" />
        <activity android:name=".Jongro_insadong.Jongro_insadongCourse3" />
        <activity android:name=".Jongro_insadong.Jongro_insadongCourse5" />
        <activity android:name=".Jongro_insadong.Jongro_insadongCourse4" />
        <activity android:name=".Jongro_insadong.Jongro_insadongCourse2" />
        <activity android:name=".Jongro_insadong.Jongro_insadongCourse1" />
        <activity android:name=".Jongro_insadong.Jongro_insadongCourseList" />
        <activity android:name=".Jongro_hyehwa.Jongro_hyehwaCourse4" />
        <activity android:name=".Jongro_hyehwa.Jongro_hyehwaCourse1" />
        <activity android:name=".Jongro_hyehwa.Jongro_hyehwaCourseList" />
        <activity android:name=".EnpyungSudaemun.EnpyungSudaemunCourseList" />
        <activity android:name=".EnpyungSudaemun.EnpyungSudaemunCourse4" />
        <activity android:name=".EnpyungSudaemun.EnpyungSudaemunCourse3" />
        <activity android:name=".EnpyungSudaemun.EnpyungSudaemunCourse2" />
        <activity android:name=".EnpyungSudaemun.EnpyungSudaemunCourse1" />
        <activity android:name=".Yeongdeungpo.YeongdeungpoCourse4" />
        <activity android:name=".Yeongdeungpo.YeongdeungpoCourse3" />
        <activity android:name=".Yeongdeungpo.YeongdeungpoCourse2" />
        <activity android:name=".Yeongdeungpo.YeongdeungpoCourse1" />
        <activity android:name=".Yeongdeungpo.YeongdeungpoCourseList" />
        <activity android:name=".Songpa.SongpaCourse5" />
        <activity android:name=".Songpa.SongpaCourse4" />
        <activity android:name=".Songpa.SongpaCourse3" />
        <activity android:name=".Songpa.SongpaCourse2" />
        <activity android:name=".Songpa.SongpaCourse1" />
        <activity android:name=".Songpa.SongpaCourseList" />
        <activity android:name=".GuroGeumcheon.GuroGeumcheonCourse3" />
        <activity android:name=".GuroGeumcheon.GuroGeumcheonCourse2" />
        <activity android:name=".GuroGeumcheon.GuroGeumcheonCourse1" />
        <activity android:name=".GuroGeumcheon.GuroGeumcheonCourseList" />
        <activity android:name=".Gangnam.GangnamCourse3" />
        <activity android:name=".Gangnam.GangnamCourse2" />
        <activity android:name=".Gangnam.GangnamCourse1" />
        <activity android:name=".Gangnam.GangnamCourseList" />
        <activity android:name=".DongjakGwanak.DongjakGwanakCourse4" />
        <activity android:name=".DongjakGwanak.DongjakGwanakCourse3" />
        <activity android:name=".DongjakGwanak.DongjakGwanakCourse2" />
        <activity android:name=".DongjakGwanak.DongjakGwanakCourse1" />
        <activity android:name=".DongjakGwanak.DongjakGwanakCourseList" />
        <activity android:name=".Junggu.JungguCourse4" />
        <activity android:name=".Junggu.JungguCourse3" />
        <activity android:name=".Junggu.JungguCourse2" />
        <activity android:name=".Junggu.JungguCourse1" />
        <activity android:name=".Junggu.JungguCourseList" />
        <activity android:name=".GangbukSeongBuk_NowonDobong.GangbukSeongbuk_NowonDobongCourse4" />
        <activity android:name=".GangbukSeongBuk_NowonDobong.GangbukSeongbuk_NowonDobongCourse3" />
        <activity android:name=".GangbukSeongBuk_NowonDobong.GangbukSeongbuk_NowonDobongCourse2" />
        <activity android:name=".GangbukSeongBuk_NowonDobong.GangbukSeongbuk_NowonDobongCourseList" />
        <activity android:name=".DongdaemunSeongdong.DongdaemunSeongdongCourse4" />
        <activity android:name=".DongdaemunSeongdong.DongdaemunSeongdongCourse3" />
        <activity android:name=".DongdaemunSeongdong.DongdaemunSeongdongCourse2" />
        <activity android:name=".DongdaemunSeongdong.DongdaemunSeongdongCourse1" />
        <activity android:name=".DongdaemunSeongdong.DongdaemunSeongdongCourseList" />
        <activity android:name=".KwangjinJungnang.KwangjinJungnangCourse4" />
        <activity android:name=".KwangjinJungnang.KwangjinJungnangCourse3" />
        <activity android:name=".KwangjinJungnang.KwangjinJungnangCourse2" />
        <activity android:name=".KwangjinJungnang.KwangjinJungnangCourse1" />
        <activity android:name=".KwangjinJungnang.KwangjinJungnangCourseList" />
        <activity android:name=".Yongsan.YongsanCourse4" />
        <activity android:name=".Yongsan.YongsanCourse3" />
        <activity android:name=".Yongsan.Yongsancourse1_popupWindow" />
        <activity android:name=".Yongsan.YongsanCourse1" />
        <activity android:name=".Yongsan.YongsanCourse2" />
        <activity android:name=".Yongsan.YongsanCourseList" />
        <activity android:name=".RecMap" />
        <activity android:name=".MainMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDeaWsv8ATVaIb2mpf90WichOespuwPEZ4" />
    </application>

</manifest>